# Exercise 6-2: Do more cleaning on the Awards data

## Read the data

In [8]:
import pandas as pd

In [9]:
# Load the cleaned NSF awards data into a DataFrame
# NOTE: If this fails, run the notebook from exercise 6.1 to create the file
awards_df = pd.read_pickle("nsf_awards_ex61_cleaned.pkl")

In [10]:
# Display the first few rows of the DataFrame
awards_df.head()

,awd_id,agcy_id,title,cfda_num,org_code,po_phone,po_email,po_sign_block_name,awd_eff_date,awd_exp_date,...,div_abbr,division,inst_name,inst_street_address,inst_street_address_2,inst_city_name,inst_state_code,inst_phone_num,inst_zip_code,inst_country_name
31,855351,NSF,Modeling Cloud Responses to Global Atmospheric...,47.05,6020105,NaN,NaN,edward bensman,2009-12-01,2014-11-30,...,AGS,Division of Atmospheric and Geospace Sciences,University of Texas at Dallas,800 WEST CAMPBELL RD.,SP2.25,RICHARDSON,TX,9.728832e+09,750803021,United States
32,856009,NSF,Materials World Network: Local Surface Chemist...,47.049,3070010,NaN,NaN,Diana Farkas,2009-12-15,2013-11-30,...,DMR,Division Of Materials Research,University of Houston,4300 MARTIN LUTHER KING BLVD,NaN,HOUSTON,TX,7.137436e+09,772043067,United States
58,908968,NSF,RET Site: Nanotechnology Research Experience f...,47.041,7050000,NaN,NaN,Mary Poats,2010-04-01,2014-09-30,...,EEC,Division of Engineering Education and Centers,William Marsh Rice University,6100 MAIN ST,NaN,Houston,TX,7.133485e+09,770051827,United States
68,910527,NSF,Study of Theoretically Interesting Molecules a...,47.049,3090003,NaN,NaN,Tyrone Mitchell,2009-10-15,2013-09-30,...,CHE,Division Of Chemistry,University of North Texas,1112 DALLAS DR STE 4000,NaN,DENTON,TX,9.405654e+09,762051132,United States
75,911317,NSF,Collaborative Research: Impact of Spatial and ...,47.05,6030109,NaN,NaN,Thomas Torgersen,2010-04-01,2015-03-31,...,EAR,Division Of Earth Sciences,Texas A&M Research Foundation,400 HARVEY MITCHELL PKWY S STE 300,NaN,COLLEGE STATION,TX,9.798627e+09,778454375,United States

## Examine the data

In [11]:
# Display information about the awards_df DataFrame, including column data types and non-null counts

In [12]:
# Count the occurrences of each unique value in the 'directorate' column

In [13]:
# Display unique values in the 'inst_city_name' column

## Fix spelling and capitalization problems in the data

In [14]:
# Set contents of all columns with 'inst_' prefix to title case


# But actually, put inst_state_code back to upper case :-)

In [15]:
# Check unique values in the 'inst_city_name' column again

In [16]:
# Check unique values in the 'inst_state_code' column

In [17]:
# Investigate the unique values in the 'inst_street_address' column

In [18]:
# Replace specific abbreviations in the 'inst_street_address' column with standardized forms
# For example, 'St.' becomes 'St', 'Rd.' becomes 'Rd', etc. 
# NOTE: This is a simplified example; you may need to adjust the replacements based on your data
abbreviations = {
    'St.': 'St',
    'Rd.': 'Rd',
    'Ave.': 'Ave',
    'Blvd.': 'Blvd',
    'Dr.': 'Dr',
    'Pkwy.': 'Pkwy',
    'Cir.': 'Cir',
    'Ct.': 'Ct',
    'Pl.': 'Pl'
}

In [19]:
# Create a new column 'inst_full_address' by concatenating the street address, city name, state code, and zip code

In [20]:
# Display the first 5 rows of the awards DataFrame

In [21]:
# Write the cleaned DataFrame to a new pickle file
# awards_df.to_pickle("nsf_awards_ex62_cleaned.pkl")