# Exercise 6-2: Do more cleaning on the Awards data

## Read the data

In [56]:
import pandas as pd

In [57]:
# Load the cleaned NSF awards data into a DataFrame
# NOTE: If this fails, run the notebook from exercise 6.1 to create the file
awards_df = pd.read_pickle("nsf_awards_ex61_cleaned.pkl")

In [58]:
# Display the first few rows of the DataFrame
awards_df.head()

,awd_id,agcy_id,title,cfda_num,org_code,po_phone,po_email,po_sign_block_name,awd_eff_date,awd_exp_date,...,div_abbr,division,inst_name,inst_street_address,inst_street_address_2,inst_city_name,inst_state_code,inst_phone_num,inst_zip_code,inst_country_name
31,855351,NSF,Modeling Cloud Responses to Global Atmospheric...,47.05,6020105,NaN,NaN,edward bensman,2009-12-01,2014-11-30,...,AGS,Division of Atmospheric and Geospace Sciences,University of Texas at Dallas,800 WEST CAMPBELL RD.,SP2.25,RICHARDSON,TX,9.728832e+09,750803021,United States
32,856009,NSF,Materials World Network: Local Surface Chemist...,47.049,3070010,NaN,NaN,Diana Farkas,2009-12-15,2013-11-30,...,DMR,Division Of Materials Research,University of Houston,4300 MARTIN LUTHER KING BLVD,NaN,HOUSTON,TX,7.137436e+09,772043067,United States
58,908968,NSF,RET Site: Nanotechnology Research Experience f...,47.041,7050000,NaN,NaN,Mary Poats,2010-04-01,2014-09-30,...,EEC,Division of Engineering Education and Centers,William Marsh Rice University,6100 MAIN ST,NaN,Houston,TX,7.133485e+09,770051827,United States
68,910527,NSF,Study of Theoretically Interesting Molecules a...,47.049,3090003,NaN,NaN,Tyrone Mitchell,2009-10-15,2013-09-30,...,CHE,Division Of Chemistry,University of North Texas,1112 DALLAS DR STE 4000,NaN,DENTON,TX,9.405654e+09,762051132,United States
75,911317,NSF,Collaborative Research: Impact of Spatial and ...,47.05,6030109,NaN,NaN,Thomas Torgersen,2010-04-01,2015-03-31,...,EAR,Division Of Earth Sciences,Texas A&M Research Foundation,400 HARVEY MITCHELL PKWY S STE 300,NaN,COLLEGE STATION,TX,9.798627e+09,778454375,United States

## Examine the data

In [59]:
# Display information about the awards_df DataFrame, including column data types and non-null counts
awards_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11040 entries, 31 to 187543
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   awd_id                 11040 non-null  int64
 1   agcy_id                11040 non-null  object
 2   title                  11040 non-null  object
 3   cfda_num               11040 non-null  object
 4   org_code               11040 non-null  int64
 5   po_phone               7058 non-null   float64
 6   po_email               7058 non-null   object
 7   po_sign_block_name     11040 non-null  object
 8   awd_eff_date           11040 non-null  datetime64[ns]
 9   awd_exp_date           11040 non-null  datetime64[ns]
 10  tot_intn_awd_amt       11040 non-null  float64
 11  awd_amount             11040 non-null  float64
 12  dir_abbr               11040 non-null  category
 13  directorate            11040 non-null  object
 14  div_abbr               11040 non-null  category
 15  division               11040 non-null  object
 16  inst_name              11040 non-null  object
 17  inst_street_address    10809 non-null  object
 18  inst_street_address_2  740 non-null    object
 19  inst_city_name         11040 non-null  object
 20  inst_state_code        11040 non-null  object
 21  inst_phone_num         10809 non-null  float64
 22  inst_zip_code          11040 non-null  object
 23  inst_country_name      11040 non-null  object
dtypes: category(2), datetime64[ns](2), float64(4), int64(2), object(14)
memory usage: 2.0+ MB

In [60]:
# Count the occurrences of each unique value in the 'directorate' column
awards_df.directorate.value_counts()

directorate
Directorate for Mathematical and Physical Sciences                  2384
Directorate for Engineering                                         2129
Directorate for Computer and Information Science and Engineering    1963
Directorate for Geosciences                                         1088
Directorate for STEM Education                                      1009
Directorate for Biological Sciences                                  791
Directorate for Social, Behavioral and Economic Sciences             741
Directorate for Technology, Innovation, and Partnerships             725
Office Of The Director                                               210
Name: count, dtype: int64

In [61]:
# Display unique values in the 'inst_city_name' column
awards_df.inst_city_name.unique()

array(['RICHARDSON', 'HOUSTON', 'Houston', 'DENTON', 'COLLEGE STATION',
       'AUSTIN', 'EDINBURG', 'WACO', 'DALLAS', 'SAN ANTONIO',
       'KINGSVILLE', 'EL PASO', 'Dallas', 'FULSHEAR', 'College Station',
       'SAN MARCOS', 'Austin', 'ARLINGTON', 'LUBBOCK', 'FORT WORTH',
       'LAREDO', 'CORPUS CHRISTI', 'Beaumont', 'HUNTSVILLE', 'LONGVIEW',
       'KERRVILLE', 'Arlington', 'UNIVERSAL CITY', 'Brownsville',
       'AMARILLO', 'BAYTOWN', 'THE WOODLANDS', 'Prairie View', 'Spring',
       'Manchaca', 'Fort Worth', 'Richardson', 'El Paso', 'Lubbock',
       'West Lake Hills', 'austin', 'Bryan', 'NACOGDOCHES', 'PLANO',
       'Irving', 'TYLER', 'MARSHALL', 'PRAIRIE VIEW', 'ABILENE',
       'COMMERCE', 'GALVESTON', 'GEORGETOWN', 'GRAPEVINE',
       'Grand Prairie', 'CEDAR HILL', 'Waco', 'Laredo', 'Pearland',
       'SAN ANGELO', 'San Antonio', 'Georgetown', 'MCKINNEY', 'COPPELL',
       'Galveston', 'Flower Mound', 'Little Elm', 'FRISCO', 'Plano',
       'CANYON', 'Round Rock', 'Elgin', 'MANSFIELD', 'McKinney',
       'PASADENA', 'Corpus Christi', 'MISSOURI CITY', 'Huntsville',
       'Harker Heights', 'SPRING', 'WICHITA FALLS', 'SEGUIN', 'LANCASTER',
       'Denton', 'Sugar Land', 'FARMERS BRANCH', 'Hutto', 'SHERMAN',
       'La Jolla', 'Port Aransas', 'BRENHAM', 'Leander', 'STEPHENVILLE',
       'DENISON', 'Rockport', 'Canyon', 'HAWKINS', 'VICTORIA',
       'BROWNSVILLE', 'BRYAN', 'HUMBLE', 'PILOT POINT', 'FRIENDSWOOD',
       'WEATHERFORD', 'MESQUITE', 'COMSTOCK', 'MCALLEN', 'ALPINE',
       'West University Place', 'ADKINS', 'LEVELLAND', 'Nederland',
       'Grapevine', 'LIBERTY HILL', 'NEW BRAUNFELS', 'FORT DAVIS',
       'PLAINVIEW', 'TEXAS CITY', 'Conroe', 'San Marcos',
       'NORTH RICHLAND HILLS', 'ALLEN', 'ODESSA', 'PORT ARANSAS',
       'KILLEEN', 'CEDAR PARK', 'AUBREY', 'KILGORE', 'BEDFORD', 'LEANDER',
       'FT. WORTH', 'IRVING'], dtype=object)

## Fix spelling and capitalization problems in the data

In [62]:
# Set contents of all columns with 'inst_' prefix to title case
inst_columns = [col for col in awards_df.columns if col.startswith('inst_')]
for col in inst_columns:
    if awards_df[col].dtype == 'object':  # Ensure the column is of string type
        awards_df[col] = awards_df[col].str.title()

# But actually, put inst_state_code back to upper case :-)
awards_df.inst_state_code = awards_df.inst_state_code.str.upper()

In [63]:
# Check unique values in the 'inst_city_name' column again
awards_df.inst_city_name.unique()

array(['Richardson', 'Houston', 'Denton', 'College Station', 'Austin',
       'Edinburg', 'Waco', 'Dallas', 'San Antonio', 'Kingsville',
       'El Paso', 'Fulshear', 'San Marcos', 'Arlington', 'Lubbock',
       'Fort Worth', 'Laredo', 'Corpus Christi', 'Beaumont', 'Huntsville',
       'Longview', 'Kerrville', 'Universal City', 'Brownsville',
       'Amarillo', 'Baytown', 'The Woodlands', 'Prairie View', 'Spring',
       'Manchaca', 'West Lake Hills', 'Bryan', 'Nacogdoches', 'Plano',
       'Irving', 'Tyler', 'Marshall', 'Abilene', 'Commerce', 'Galveston',
       'Georgetown', 'Grapevine', 'Grand Prairie', 'Cedar Hill',
       'Pearland', 'San Angelo', 'Mckinney', 'Coppell', 'Flower Mound',
       'Little Elm', 'Frisco', 'Canyon', 'Round Rock', 'Elgin',
       'Mansfield', 'Pasadena', 'Missouri City', 'Harker Heights',
       'Wichita Falls', 'Seguin', 'Lancaster', 'Sugar Land',
       'Farmers Branch', 'Hutto', 'Sherman', 'La Jolla', 'Port Aransas',
       'Brenham', 'Leander', 'Stephenville', 'Denison', 'Rockport',
       'Hawkins', 'Victoria', 'Humble', 'Pilot Point', 'Friendswood',
       'Weatherford', 'Mesquite', 'Comstock', 'Mcallen', 'Alpine',
       'West University Place', 'Adkins', 'Levelland', 'Nederland',
       'Liberty Hill', 'New Braunfels', 'Fort Davis', 'Plainview',
       'Texas City', 'Conroe', 'North Richland Hills', 'Allen', 'Odessa',
       'Killeen', 'Cedar Park', 'Aubrey', 'Kilgore', 'Bedford',
       'Ft. Worth'], dtype=object)

In [64]:
# Check unique values in the 'inst_state_code' column
awards_df.inst_state_code.unique()

array(['TX'], dtype=object)

In [65]:
# Investigate the unique values in the 'inst_street_address' column
awards_df.inst_street_address.unique()

array(['800 West Campbell Rd.', '4300 Martin Luther King Blvd',
       '6100 Main St', '1112 Dallas Dr Ste 4000',
       '400 Harvey Mitchell Pkwy S Ste 300', '110 Inner Campus Dr',
       '1201 W University Dr', '700 S University Parks Dr', '3124 Tamu',
       '2700 Bay Area Blvd # M105', '6425 Boaz St Rm 130', '2147 Tamu',
       '1 Utsa Cir', '700 N University Blvd', '1 Trinity Pl',
       '500 W University Ave', '2515 Mckinney Ave',
       '8285 El Rio St Ste 150', '11525 Stonehollow Dr Ste A135',
       '7920 Belt Line Road', '8500 Shoal Creek Blvd',
       '3815 Walker Falls Ln', '10410 Miller Road',
       '11142 Hopes Creek Rd', '6611 Morningside Dr', '601 University Dr',
       nan, '701 S Nedderman Dr', '2500 Broadway',
       '3101 Bellaire Drive North', '1700 University Dr', '1 Baylor Plz',
       '5201 University Blvd', '6300 Ocean Dr Unit 5739',
       '4400 S M L King Jr Pkwy', '1806 Ave J', '6220 Culebra Rd',
       '2100 S Mobberly Ave', '2100 Memorial Blvd', '7000 Fannin St Fl 9',
       '1201 Kitty Hawk Rd', '6101 Highland Campus Dr', '1 Main St',
       '3800 Montrose Blvd', '3001 S Congress Ave',
       'One West University Blvd', '2011 S Washington St',
       '4901 Bosque Blvd', '17217 Waterview Parkway Ste1.202',
       '150 Lee Dr', '9721 Derrington Rd', '5323 Harry Hines Blvd',
       '3500 Camp Bowie Blvd', '400 Harvey Mitchell Pky S Ste 300',
       '1515 Holcombe Blvd', '2408 Timberloch Pl Ste D5', 'P O Box 667',
       '3400 Research Forest Drive', '11305 Hill Stable Ct.',
       '1120 South Freeway', '681 N Plano Rd', '901 Ne Loop 410',
       '18803 Fortson Ave.', '17217 Waterview Parkway',
       '11212 Metric Boulevard', '9210 Cameron Rd Ste 300',
       '6281 Los Robles', '15832 West Hardy Road,Suite 600',
       '3601 100Th St', '100 Ne Loop 410 Ste 520',
       '3925 W. Braker Lane, 3Rd Floor', '1250 Cap Of Texas Hwy South',
       '106 E. 6Th St., Ste. 900', '1936 North St',
       '2601 N Floyd Rd Fl Gr 4.81', '3101 Hoffman Dr',
       '10814 Atwell Dr.', '2113 Riverview St', '12224 Roxie Dr Ste C1',
       '320 Decker Drive', '3900 University Blvd', '711 Wiley Ave',
       '100 University Dr', '1600 Campus Ct', '4801 Nw Loop 410 Ste 701',
       '2600 W Neal St', '301 University Blvd', '3100 Cleburne St',
       '2222 N Alamo St', '6670 Bertner Ave', '1 Camino Santa Maria St',
       '1001 E University Ave', '12357A Riata Trace Parkway',
       '1701 W Northwest Hwy', '2432 Kingsley Dr.', '7050 Burleson Road',
       '1600 Gendy St', '9050 Viscount Blvd', '101 Baldwin Blvd',
       '1 W End Washington St', '3535 N Ellison Dr', '1023 Ravine Trl',
       '2601 W Avenue N', '12719 Cranes Mill', '13091 Pond Springs Rd',
       '901 Waterfall Way', '111 W. Cooperative Way',
       '6762 Shadyvilla Ln Bldg 3', '2224 Bay Area Blvd',
       '400 Harvey Mitchell Pky S Ste 100', '8505 Broad Meadow Ln',
       '7703 Floyd Curl Dr', '153 Hollywood Dr', '11412 Bee Caves Road',
       '202 East Border Street', '304 Administration Drive',
       '3601 4Th St', '3801 Campus Drive', '3452 Spur 399',
       '717 N Harwood St Ste 2400', '1512 Highland Circle',
       '777 Taylor St Ste 1140', '1201 W 15Th St Ste 200',
       '17217 Waterview Pkwy', '12000 Network Blvd # B200',
       '1801 Martin Luther King Dr', '2801 Network Blvd',
       '10404 Skyflower Dr', '10931 Jollyville Rd Ste 100',
       '5808 Morning Glory Lane', '3925 Braker Lane', '2501 4Th Ave',
       '12800 Abrams Rd', '3009 Saint Martin Dr', '9617 Wendell Rd',
       '6201 E. Oltorf', '4624 Fairmont Pkwy Ste 106', '1921 76Th Street',
       '1200 Streit Dr', '1331 Gemini St', '1400 Milagro Dr',
       '4405 Wonderland Dr', '840 Central Pkwy E Ste 140',
       '15844 Garrison Cir', '2315 Schlumberger St.', '6003 Tamu',
       '7901 E. Riverside Dr.', '10419 Ten Point Ln',
       '3501 Link Valley Dr.', '502 W 35Th St', 'Nasa Jsc',
       '710 Prospector Trl', '5608 Woodrow Avenue',
       '16601 Blanco Rd Ste 120', '17217 Waterview Pkwy # 1202',
       '5000 Research Forest Dr', '4301 Broadway', '3410 Taft Blvd',
       '1000 W Court St', '3100 Main St', '3030 N Dallas Ave',
       '800 Raymond Stotzer Pkwy', '1920 W Villa Maria Rd, Ste 301',
       '4440 Spring Valley Rd', '8310 Castleford St Ste 320',
       '501 Graham Rd', '2500 W William Cannon Dr Suite 204',
       '4011 Garrott St', '900 Chicon St',
       '5828 Sebastian Place Suite 102', '8220 Snow Goose Way',
       '12001 Network Blvd Ste 310', '1505 Rockdale Circle Unit B',
       '17217 Waterview Pkwy, Ste. 1.202', '15527 Baybrook Dr',
       '229 Dana Dr', '4816 Shoal Creek Blvd', '1415 La Concha Ln',
       '900 N Grand Ave # 6L', '4015 Avenue Q', '902 College Avenue',
       '17217 Waterview Pkwy Ste 1.202',
       '211 North Ervay Street Suite #620 Office #2',
       '3333 Hwy 6 S Bldg So', '2600 Lake Austin Blvd #13102',
       '4110 22Nd Pl', '110 E Houston St 6Th Fl',
       '3900 Essex Ln, Ste 575', '801 W 5Th Street',
       '1044 W South Street', '1701 Maple Ave', '1406 Chicon St',
       '3116 Piedmont Dr', '1333 W Washington St', '6101 Grayson Dr',
       '7631 E Us Highway 80', '2322 Wordsworth St.',
       '2450 Holcombe Blvd', '840 F Ave', '10480 Markison Rd',
       '15500 Scarlet St', '202 Kettleman Ln N', '1400 W Villaret Blvd',
       '3007 N Ben Wilson St', '10330 Markison Rd', '25043 Sausalito Dr',
       '9308 Springwood Drive', '1100 Hercules Ave Ste 220',
       '2450 Holcombe Blvd Ste J', '9990 Richmond Ave', '9415 Burnet Rd',
       '11110 Metric Blvd Ste A', '214 N Main Street',
       '10000 Metric Blvd Ste 200',
       '500 N Capital Of Texas Hwy Bldg 3-201', '11701 Stonehollow Dr',
       '15213 Falconhead Grove Loop', '3939 Valley View Ln',
       '1400 College Dr', '80 Fort Brown St', '3305 Shady Valley Dr',
       '5826 Petty St', '2450 Holcombe Blvd Ste B', '5250 Jackwood St',
       '3615 Graustark St', '1809 Newton St #2', '216 W 26Th St G25',
       '8622 Old Maple Ln', '1 University Way', '11547 Dane Rd',
       '405 Main Street, Suite 501 Houston', '2319 Brighton Park Ln',
       '1900 Simond Ave Apt 1064', '6913 Camp Bowie Blvd Ste 173',
       '11391 Meadowglen Lane', '225 College Park Dr',
       '4343 Highway 67 At I30', '701 Brazos St Ste 1616',
       '3250 S Sam Houston Pkwy E', '28 Langtry St', '9404 Schug Cv',
       '4904 Avenue H', '5555 N Lamar Blvd Ste J123',
       '325 N Saint Paul Street', '1113 Ursuline Ave',
       '5811 Techni Center Dr', '4201 Main St Ste L10',
       '2101 Citywest Blvd Ste 100', '14800 Memorial Dr Apt 2504',
       '1014 N Stanton St', '1720 Bray Central Dr Ste 100-Ll',
       '10108 Carter Cyn', '6101 Highland Campus Dr # 2250',
       '3201 Pecan Blvd', '6506 Hillside Hollow Dr', '114 Holmes Rd',
       '5410 Trafalgar Dr', '3913 Todd Ln', '805 Valley View West Rd',
       '1140 Empire Central Dr Ste 550', '130 Rick Francis St',
       '6708 Alcove Ln', '7502 Fondren Rd', '2404 N Grand Ave',
       '18108 Point Lookout Dr', '8080 N Central Expy Ste 1703',
       '222 Sidney Baker St S Ste 635', '5708 Walser Cv',
       '6540 Sewanee Ave', '220 S. Congress Ave Suite 010',
       '2450 Holcombe Blvd Ste 1', '7413 Brentridge',
       '25700 I-45 North #4119', '2151 Harvey Mitchell Pkwy S Ste 208',
       '3060 Pegasus Park Dr Bldg 6', '10402 Iola Ave',
       '25318 Oak Knot Dr', '3215 Doe Run', '2450 Holcombe Blvd Ste 1420',
       '3924 Berkman Dr', '411 Sw 24Th St', '2651 Kipling St Apt 1215',
       '3404 Meadow Lake Ln', '100 Research Pkwy', '415 Graham Rd',
       '7505 Fannin St Ste 600', '5252 Hollister St Ste 501',
       '1334 Brittmoore Rd Ste 1326', '1402 W 6Th St', '3055 Hunter Rd',
       'East Hwy 90', '4201 Main St Ste 200-130', '5159 Jackwood St',
       '112 Lisa Dawn Dr', '1401 College Ave', '15714 Crestbrook Dr',
       '2223 Rollingbrook Dr', '212 Alava Way', '2646 Black Bear Dr',
       '2700 Post Oak Blvd Fl 21 Ste 152', '450 Smith Coffey Rd',
       '5223 Miller Ave', '7733 Louis Pasteur Dr', '2605 Somerton Ct',
       '1009 Metate Pl', '1803 Ambassador Court',
       '4103 S Texas Ave Ste 211', '25406 Mesa Crst', '1201 Wesleyan St',
       '1900 W 7Th St', '7505 Fannin St, Suite 610, Office 3',
       '11403 Shadow Way St', '1200 N Amburn Rd',
       '12700 Hillcrest Rd Ste 147', '301 S Center St Ste 310',
       '4343 Ih-30', '1204 Tall Pines Drive', '3131 Eastside St Ste 333',
       '2450 Holcombe Blvd Ste X', 'S 14Th St And Sayles Blvd',
       '6117 Kendrick Mews', '1915 Natchez Trace', '5000 Gulf Fwy Rm 118',
       '5911 Rangeland Rd', '11331 Tanner Rd', '5921 King Trl',
       '2450 Holcombe Blvd. Ste X', '4901 E University Blvd',
       '2204 Tom Miller St', '269 Beachwalk Ln',
       '201 West 5Th Street Suite 1500', '3010 Pitkin Dr',
       '11141 Wellshire Ln', '3911 4Th St', '1601 E Cesar Chavez St',
       '113 Terra Vista Ranch Road', '1001 Leadership Pl',
       '7505 Fannin St.', '10500 Double Spur Loop', '1628 Elgin St',
       '1500 S Lamar Blvd Apt 3045', '1900 Valle Verde Dr.',
       '3055 Hunter Road', '26410 Oak Ridge Dr Ste 112',
       '15730 Whitewater Ln', '4200 San Jacinto St',
       '5338 Emerson Avenue', '707 Texas Ave S Ste 106E',
       '3908 Verbena St', '11937 Us Highway 271',
       '300 Trinity Campus Cir', '1100 Broadway Blvd',
       '2603 Trinity Pass', '7223 Arbor Oaks Dr', '2928 Blue Quail Ln',
       '102 Mabry Dr', '1300 Bay Area Blvd # B275-5',
       'John B Connally Bldg, 301 Tarrow St',
       '16441 Space Center Blvd Ste D200', '11212 Readvill Ln',
       '11801 Domain Blvd Fl 3', '2509 Kennedy Cir Bldg 125 Fl 4',
       '7710 N Fm 620 Rd Bldg 13-D', '3730 Kirby Dr Ste 904',
       '1028 Willie Ranch Way', '9500 Ray White Rd',
       '1845 E Northgate Dr', '11518 Shadow Way St',
       '515 Crystal Creek Dr'], dtype=object)

In [66]:
# Replace specific abbreviations in the 'inst_street_address' column with standardized forms
# For example, 'St.' becomes 'St', 'Rd.' becomes 'Rd', etc. 
# NOTE: This is a simplified example; you may need to adjust the replacements based on your data
abbreviations = {
    'St.': 'St',
    'Rd.': 'Rd',
    'Ave.': 'Ave',
    'Blvd.': 'Blvd',
    'Dr.': 'Dr',
    'Pkwy.': 'Pkwy',
    'Cir.': 'Cir',
    'Ct.': 'Ct',
    'Pl.': 'Pl'
}
for abbr, full in abbreviations.items():
    awards_df.inst_street_address = awards_df.inst_street_address.str.replace(abbr, full, regex=False)

In [67]:
# Create a new column 'inst_full_address' by concatenating the street address, city name, state code, and zip code
awards_df['inst_full_address'] = (
    awards_df.inst_street_address + ', ' +
    awards_df.inst_city_name + ', ' +
    awards_df.inst_state_code + ' ' +
    awards_df.inst_zip_code
)

In [69]:
# Display the first 5 rows of the awards DataFrame
awards_df.head()

,awd_id,agcy_id,title,cfda_num,org_code,po_phone,po_email,po_sign_block_name,awd_eff_date,awd_exp_date,...,division,inst_name,inst_street_address,inst_street_address_2,inst_city_name,inst_state_code,inst_phone_num,inst_zip_code,inst_country_name,inst_full_address
31,855351,NSF,Modeling Cloud Responses to Global Atmospheric...,47.05,6020105,NaN,NaN,edward bensman,2009-12-01,2014-11-30,...,Division of Atmospheric and Geospace Sciences,University Of Texas At Dallas,800 West Campbell Rd,Sp2.25,Richardson,TX,9.728832e+09,750803021,United States,"800 West Campbell Rd, Richardson, TX 750803021"
32,856009,NSF,Materials World Network: Local Surface Chemist...,47.049,3070010,NaN,NaN,Diana Farkas,2009-12-15,2013-11-30,...,Division Of Materials Research,University Of Houston,4300 Martin Luther King Blvd,NaN,Houston,TX,7.137436e+09,772043067,United States,"4300 Martin Luther King Blvd, Houston, TX 7720..."
58,908968,NSF,RET Site: Nanotechnology Research Experience f...,47.041,7050000,NaN,NaN,Mary Poats,2010-04-01,2014-09-30,...,Division of Engineering Education and Centers,William Marsh Rice University,6100 Main St,NaN,Houston,TX,7.133485e+09,770051827,United States,"6100 Main St, Houston, TX 770051827"
68,910527,NSF,Study of Theoretically Interesting Molecules a...,47.049,3090003,NaN,NaN,Tyrone Mitchell,2009-10-15,2013-09-30,...,Division Of Chemistry,University Of North Texas,1112 Dallas Dr Ste 4000,NaN,Denton,TX,9.405654e+09,762051132,United States,"1112 Dallas Dr Ste 4000, Denton, TX 762051132"
75,911317,NSF,Collaborative Research: Impact of Spatial and ...,47.05,6030109,NaN,NaN,Thomas Torgersen,2010-04-01,2015-03-31,...,Division Of Earth Sciences,Texas A&M Research Foundation,400 Harvey Mitchell Pkwy S Ste 300,NaN,College Station,TX,9.798627e+09,778454375,United States,"400 Harvey Mitchell Pkwy S Ste 300, College St..."

In [70]:
# Write the cleaned DataFrame to a new pickle file
awards_df.to_pickle("nsf_awards_ex62_cleaned.pkl")